@font-face {
  font-family: Caslon;
  src: url('../assets/fonts/Caslon.ttf')  format('truetype');
}

body {
  background-color: #d5eee8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  letter-spacing: 0.0625em;
  color: #222222;
  scroll-behavior: smooth;
}