@font-face {
  font-family: Caslon;
  src: url('../assets/fonts/Caslon.ttf')  format('truetype');
}

body {
  background-color: #d5eee8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  letter-spacing: 0.0625em;
  color: #222222;
  scroll-behavior: smooth;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg,#4580e6,#3DCC91);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}